body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li.logo {
    margin-right: auto;
}

nav ul li.logo img {
    height: 40px; /* Adjust the height as needed */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}